@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Letica Corp<br/>
    52585 Dequindre Road<br/>
    Rochester, MI 48308<br/>
</address>

<address>
    <strong>Support:</strong>   <a href="http://helpdesk/">Letica Helpdesk</a><br />
</address>